h3{
    text-align: left;
}
.titulo{
    font-size: 60px;
}
h4{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.biografia{
    background-color: gray;
    border-top-right-radius: 2cap;
    border-top-left-radius: 2cap;
    border-bottom-left-radius: 2cap;
    border-bottom-right-radius: 2cap;
}
.eutentei{
    font-size: 150  px;
    text-align: center;
}

